
.text-white{
    color: white;
}

.v-expansion-panels{
    z-index: 0;
}

#notifications{
    z-index: 1000;
}

#screen{
    background-image: url("/img/bg.jpg");
    background-size: cover;
}

#deck .deckedApps{
    position: absolute;
    max-width: 100vw;
    bottom: 40%;
}

#app-bar{
    z-index: 100;
}

#app-card{
    height: 100%;
}

#app-wrapper{
    overflow-y: auto;
    height: 100%;
    padding-top: 64px !important;
}

#app-navigation{
    padding-top: 75px
}

@media (min-width: 960px){
    #app-wrapper{
        padding-top: 100px !important;
    }
}

.icon span{
    color: white;
    font-size: 1rem;
}

.icon, .icon .v-badge{
    cursor: pointer;
    max-width: 100%;
    width: 60px
}


@media (min-width: 600px){
    .icon, .icon .v-badge{
        width: 75px;
    }

    .icon span{
        font-size: 1rem;
    }
}

@media (min-width: 1264px){
    .icon, .icon .v-badge{
        width: 100px;
    }

    .icon span{
        font-size: 1rem;
    }
}

.fullscreen{
    height: 100vh;
}

.menu-item{
    cursor: pointer;
}