.text-white{
    color: white;
}

.v-expansion-panels{
    z-index: 0;
}

#notifications{
    z-index: 1000;
}

#screen{
    background-image: url("/img/bg.jpg");
    background-size: cover;
}

#deck .deckedApps{
    position: absolute;
    max-width: 100vw;
    bottom: 40%;
}

#app-bar{
    z-index: 100;
}

#app-card{
    height: 100%;
}

#app-wrapper{
    overflow-y: auto;
    height: 100%;
    padding-top: 64px !important;
}

#app-navigation{
    padding-top: 75px
}

@media (min-width: 960px){
    #app-wrapper{
        padding-top: 100px !important;
    }
}

.icon span{
    color: white;
    font-size: 1rem;
}

.icon, .icon .v-badge{
    cursor: pointer;
    max-width: 100%;
    width: 60px
}


@media (min-width: 600px){
    .icon, .icon .v-badge{
        width: 75px;
    }

    .icon span{
        font-size: 1rem;
    }
}

@media (min-width: 1264px){
    .icon, .icon .v-badge{
        width: 100px;
    }

    .icon span{
        font-size: 1rem;
    }
}

.fullscreen{
    max-height: 75vh;
}

.menu-item{
    cursor: pointer;
}

.v-btn--fab.v-size--default.v-btn--absolute.v-btn--bottom{
    bottom: 16px;
    z-index: 500;
}

[v-cloak] {display: none}

#loader{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  .notification{
      opacity: 0.75;
      height: 14px;
      max-width: 25px;
  }